<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="client_id" value="lq1tzm68ep4qvipym40apgizf45sr6" />
    <add key="client_secret" value="22i9hawqpws4s4k3q99via9vtywbr0"/>
    <add key="redirect_url" value="http://localhost:3000/"/>

    <add key="broadcast_id" value="89697687"/>
    <add key="bot_id" value="1048673136"/>

    <add key="channelName" value="xzeroprimex"/>
    <add key="username" value="primalchatplays"/>
    <add key="password" value="oauth:kvw8io034awi4o6333dxrlf7k363ir"/>
    <add key="access_token" value="Bearer n13h88l1jlvojrwog861xe0c4b5wpd"/>
    <add key="bot_access_token" value="Bearer wvftr7291h10hgccx1wzdx72gjudi1"/>
    <add key="refresh_token" value=""/>
  </appSettings>
</configuration>